# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

StartLimitIntervalSec=500
StartLimitBurst=5


[Service]
Type=forking

Environment=CATALINA_HOME={{ tomcat_install_path }}/{{ tomcat_service_name }}
Environment=CATALINA_BASE={{ tomcat_install_path }}/{{ tomcat_service_name }}

ExecStart={{ tomcat_install_path }}/{{ tomcat_service_name }}/bin/startup.sh
ExecStop={{ tomcat_install_path }}/{{ tomcat_service_name }}/bin/shutdown.sh

User={{ tomcat_user }}
Group={{ tomcat_group }}

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
